.profile-container {
    position: relative;
    display: flex;
    background-color: #ffffff;
    max-width: 925px;
    border-radius: 13px;
    width: calc(100% - 55px);
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}

.area-profile{
    display: flex;
    flex-direction: column;
    max-width: 925px;
    width: 99%;
    margin-right: 12px;

}

.img-user{
    display: flex;
    border: solid 1px black;
    height: 200px;
    width: 100%;
    max-width: 200px;
    margin: 10px auto;
    border-radius: 100%;
    transition: 250ms;
}
.img-user:hover{
    box-shadow: gray 5px 5px;
    scale: 1.05;
}
.user-name{
    font-weight: 300;
    margin-top: -25px;
    transition: 250ms;
}
.user-name:hover{
    text-decoration: underline;
    transform: scale(1.05);
}
.user-login{
    margin-top: -5px;
    transition: 250ms;
}
.user-bio{
    margin-top: -19px;
    transition: 250ms;
}
.user-login:hover{
    text-decoration: underline;
    transform: scale(1.05);
}
.user-bio:hover{
    text-decoration: underline;
    transform: scale(1.05);
}
.user-disable{
    display: none;
}
.user-activate{
    display: block;
}
#notMSG{
    text-align: center;
    color: white;
}
.line{
    width: 100%;
    height: 1px;
    margin-right: 13px;
    background-color: gray;

}
.area-profile > a{
    text-align: center;
    text-decoration: none;
    color:black;
}
.container-infos{
    display: flex;
    max-width: 925px;
    width: 99%;
    margin-right: 12px;
    flex-wrap: wrap;
    justify-content: center;
}
.infos{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-right: solid 1px gray; 
}
.infos:first-child{ /*Primeira criança. primeiro elemento*/
    border-left: solid 1px gray;
}
.infos:last-child{
    margin-right: 11px;
}
.values-infos{
    font-weight: 800;
}
main{
    cursor: default;
}
@media screen and (max-width:810px){
    .infos{
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        border-right: none; 
    }
    .infos:first-child{ /*Primeira criança. primeiro elemento*/
        border-left:none;
    }

}